{
  "openapi": "3.0.1",
  "info": {
    "title": "Portcullis API",
    "description": "The backend for the Portcullis Embedded ETL platform",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://app.runportcullis.co/"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/warehouses": {
      "get": {
        "operationId": "getWarehouses",
        "summary": "Get all warehouses",
        "description": "Returns all warehouses from the system that the user has access to",
        "tags": ["Warehouses"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "organization",
            "in": "query",
            "description": "Unique identifier for your organization",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Warehouse response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Warehouse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWarehouse",
        "summary": "Create a warehouse",
        "description": "Creates a new internal source warehouse",
        "tags": ["Warehouses"],
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "description": "Unique identifier for your organization",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Warehouse type of the export",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Internal warehouse to initialize",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewWarehouse"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Warehouse response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Warehouse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/exports": {
      "get": {
        "operationId": "getExports",
        "summary": "Get all exports",
        "description": "Returns all exports from the system that the user has access to",
        "tags": ["Exports"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Export response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Export"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createExport",
        "summary": "Create an export",
        "description": "Creates a new export to an external warehouse",
        "tags": ["Exports"],
        "requestBody": {
          "description": "Export and destination to initiate",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewExport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Export response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Export"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Warehouse": {
        "required": [
          "organization",
          "type"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier for the warehouse",
            "type": "string",
            "format": "uuid"
          },
          "organization": {
            "description": "Unique identifier for your organization",
            "type": "string"
          },
          "type": {
            "description": "Type of warehouse",
            "type": "string"
          }
        }
      },
      "NewWarehouse": {
        "required": [
          "organization",
          "table_name",
          "internal_credentials"
        ],
        "type": "object",
        "properties": {
          "organization": {
            "description": "Unique identifier for your organization",
            "type": "string"
          },
          "table_name": {
            "description": "Name of the table that is being linked for exports",
            "type": "string"
          },
          "internal_credentials": {
            "description": "Internal warehouse-specific connection configurations",
            "type": "object"
          }
        }
      },
      "Export": {
        "required": [
          "internal_warehouse",
          "organization"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier for the export",
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "description": "Warehouse type of the export",
            "type": "string"
          },
          "internal_warehouse": {
            "description": "Unique identifier for your internal warehouse",
            "type": "string",
            "format": "uuid"
          },
          "organization": {
            "description": "Unique identifier for your organization",
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "NewExport": {
        "required": [
          "internal_warehouse",
          "type",
          "organization"
        ],
        "type": "object",
        "properties": {
          "internal_warehouse": {
            "description": "Unique identifier for your internal warehouse",
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "description": "Warehouse type of the export",
            "type": "string"
          },
          "organization": {
            "description": "Unique identifier for your organization",
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}