{
  "openapi": "3.0.1",
  "info": {
    "title": "Portcullis API",
    "description": "The backend for the Portcullis Embedded ETL platform",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://app.runportcullis.co/"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/warehouses": {
      "get": {
        "description": "Returns all warehouses from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Warehouse response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Warehouse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new internal source warehouse",
        "requestBody": {
          "description": "Internal warehouse to initialize",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewWarehouse"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Warehouse response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Warehouse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/exports": {
      "get": {
        "description": "Returns all exports from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Export response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Export"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new export to an external warehouse",
        "requestBody": {
          "description": "Export and destination to initiate",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewExport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Export response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Export"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Warehouse": {
        "required": [
          "name",
          "type"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier for the warehouse",
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "description": "The name of the warehouse",
            "type": "string"
          },
          "type": {
            "description": "The type of warehouse (e.g., Snowflake, Redshift, BigQuery)",
            "type": "string"
          },
          "config": {
            "description": "Warehouse-specific configuration",
            "type": "object"
          }
        }
      },
      "NewWarehouse": {
        "required": [
          "name",
          "type",
          "config"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the warehouse",
            "type": "string"
          },
          "type": {
            "description": "The type of warehouse (e.g., Snowflake, Redshift, BigQuery)",
            "type": "string"
          },
          "config": {
            "description": "Warehouse-specific configuration",
            "type": "object"
          }
        }
      },
      "Export": {
        "required": [
          "name",
          "sourceWarehouseId",
          "destinationWarehouseId"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "Unique identifier for the export",
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "description": "The name of the export",
            "type": "string"
          },
          "sourceWarehouseId": {
            "description": "ID of the source warehouse",
            "type": "string",
            "format": "uuid"
          },
          "destinationConfig": {
            "description": "Export-specific configuration",
            "type": "object"
          }
        }
      },
      "NewExport": {
        "required": [
          "name",
          "sourceWarehouseId", 
          "destinationConfig"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the export",
            "type": "string"
          },
          "sourceWarehouseId": {
            "description": "ID of the source warehouse",
            "type": "string",
            "format": "uuid"
          },
          "destinationConfig": {
            "description": "Export-specific configuration",
            "type": "object"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}